*.exe
*.db
.vs/moto2/v15/.suo
*.opendb
*.ipch
.vs/mss32/v15/.suo
*.obj
*.tlog
*.pdb
*.ipdb
*.iobj
*.exp
*.log
*.pch
*.idb
*.lib
*.ilk
*.dll
*.db-wal
*.db-shm
*.txt
*.recipe
Release/
.vs
Debug/
ReleasePostEvent.bat
